@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");

* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;

  font-family: "Noto Serif TC", serif;
}

body {
  position: relative;

  background-color: gray;
}

.header-set {
  height: 95vh;

  background-image: linear-gradient(
      to left top,
      rgba(130, 133, 139, 0.8),
      rgba(2, 7, 17, 0.8)
    ),
    url("./img/main_pic.jpg");
  clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);

  display: flex;
  align-items: center;
  position: relative;
  z-index: 55;
}
/* 區塊一文字區塊設定 */
.header-text-set {
  color: white;
  padding: 0vh 10vw;
  font-family: "Overpass", sans-serif;
}

.header-text-helloblock-set {
  text-align: center;
  letter-spacing: 5px;

  position: relative;
  right: 55px;
}

.header-text-helloset {
  font-size: 4rem;
  display: inline-block;

  animation: fade-in-out 6s ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 10;
}
@keyframes fade-in-out {
  50% {
    opacity: 0;
  }
}

.header-text-i {
  margin: 0vh 3rem 5vh 3rem;
  font-size: 5rem;
  display: inline-block;
  position: relative;
}

.header-slogan-set {
  position: relative;
  width: 750px;
}

.header-slogan-set h1 {
  width: 100%;
  height: 20vh;
  line-height: 20vh;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
  letter-spacing: 2px;

  position: absolute;
  left: 0%;

  transition: 1s;
}

.header-slogan-set #name {
  background: #363737;
  border-radius: 10px;
  z-index: 2;

  transition: 1s;
  animation: clip-move 6s ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 10;
}

@keyframes clip-move {
  20% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  50% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* 959px-819px padding改成margin才不會爆版 */
@media screen and (max-width: 959px) and (min-width: 819px) {
  .header-text-set {
    padding: unset;
    margin: 0px auto;
  }
}

@media screen and (max-width: 818px) {
  .header-text-set {
    padding: unset;
  }

  .header-text-helloblock-set {
    text-align: unset;
    right: unset;
    margin-left: 6vw;
  }

  .header-text-helloset {
    animation: unset;
  }

  .header-text-i {
    margin: 0vh 5vw;
  }

  .header-slogan-set {
    width: unset;

    margin-left: 6vw;
  }

  .header-slogan-set h1 {
    text-align: unset;
    font-size: 4rem;

    position: unset;
  }

  .header-slogan-set #name {
    background: unset;

    animation: unset;
  }

  .header-slogan-set #header-mainslogan-set::before {
    content: "I ";
  }
}

@media screen and (max-width: 751px) {
  .header-slogan-set {
    width: unset;
  }
}

@media screen and (max-width: 551px) {
  .header-slogan-set {
    width: unset;
  }

  .header-slogan-set h1 {
    font-size: 3rem;
  }

  .header-text-helloset {
    font-size: 3rem;
  }
}

@media screen and (max-width: 415px) {
  .header-set {
    align-items: unset;

    padding-top: 10vh;
  }
}

/* 載入頁區塊設定 */
.loading-page-container {
  width: 100%;
  height: 100vh;
  top: 0px;

  background-color: #363737;
  opacity: 1;
  /* display: none; */
  position: fixed;
  z-index: 99;
}
/* 載入頁文字區塊設定 */
.loading-page-text-container {
  height: 40px;
  top: 50%;
  left: 50%;

  position: absolute;
  transform: translate(-50%, -50%);
}
/* 載入頁面文字設定 */
.loading-page-text-container span {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.1);

  display: inline-block;
  transition: all 0.5s;
  animation: loading-move 2s infinite;
}
/* 分開設定文字動畫延遲秒數 */
.loading-page-text-container span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-page-text-container span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-page-text-container span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-page-text-container span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading-page-text-container span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-page-text-container span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading-page-text-container span:nth-child(7) {
  animation-delay: 0.7s;
}
@keyframes loading-move {
  0% {
    color: rgba(255, 255, 255, 0.1);
    transform: translateY(0);
    margin-left: 0px;
  }
  25% {
    color: #fff;
    transform: translateY(-30px);
    margin-left: 10px;
    text-shadow: 0 15px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    color: rgba(255, 255, 255, 0.1);
    transform: translateY(0);
  }
}

@media screen and (max-width: 629px) {
  .loading-page-text-container span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .loading-page-container {
    height: 100%;
  }

  .loading-page-container span {
    font-size: 1.5rem;
  }
}
/* 關於我區塊 */
.aboutme-section {
  background-color: gray;

  position: relative;
  margin-top: -20vh;
  padding: 30vh 0px 35vh;
}

.aboutme-descript-container {
  width: 85%;
  max-width: 1024px;

  display: flex;
  margin: 0px auto;
}
/* 關於我左側區塊設定 */
.aboutme-descript-pic-container {
  width: 50%;
}
/* 關於我左側區塊hover後效果設定 */
.aboutme-descript-pic-container:hover img {
  outline: rgba(255, 169, 106, 0.5) solid 1rem;
  transform: scale(1.05) translate(20%, 20%);
  box-shadow: rgb(0 0 0 / 50%) 0px 2.5rem 4rem;
}

.aboutme-descript-pic-container:hover .aboutme-pic-sqare::after {
  transform: translate(-40%, 25%);
}
/*關於我左側方框區塊*/
.aboutme-pic-sqare {
  position: relative;
}
/* 關於我左側方框after製作設定 */
.aboutme-pic-sqare::after {
  width: 15rem;
  height: 15rem;
  content: "";
  border: 1rem solid rgba(71, 84, 99, 1);

  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;

  transform: translate(-20%, 60%);
  transition: all 0.3s ease 0s;
}
/* 關於我左側圖片設定  */
.aboutme-descript-pic-container img {
  width: 65%;

  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.aboutme-descript-text {
  width: 50%;
  color: rgb(221, 219, 219);

  line-height: 2;
}

.aboutme-descript-text h3 {
  color: rgb(54, 51, 51);

  margin-bottom: 2.5vh;
}

.aboutme-descript-text p {
  margin-bottom: 2.5vh;
}

.aboutme-descript-text p span {
  word-spacing: 5px;

  padding: 1vh 0.5vw;
}
/* 關於我-按鈕區塊設定 */
.aboutme-descript-text .aboutme-button-container {
  display: flex;
  justify-content: space-around;
}

.aboutme-descript-text .aboutme-button-container button {
  margin-top: 1vh;
  padding: 1vh 1.2vw;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;

  transition: all 0.5s ease 0s;
}
/* 關於我-按鈕hover效果 */
.aboutme-descript-text .aboutme-button-container button:hover {
  background-color: #434f5e;
  box-shadow: rgb(0 0 0 / 20%) 0px 1rem 2rem;

  border-style: none;
}

.aboutme-descript-text .aboutme-button-container button:hover a {
  color: white;
}

.aboutme-descript-text .aboutme-button-container button a {
  text-decoration: none;

  transition: all 1s ease 0s;
}

@media screen and (max-width: 1023px) and (min-width: 701px) {
  .aboutme-pic-sqare::after {
    width: 25vw;
    height: 25vw;

    top: 80px;
  }

  .aboutme-descript-pic-container img {
    width: 75%;

    top: 70px;
    right: 20px;
  }

  .aboutme-descript-pic-container:hover .aboutme-pic-sqare::after {
    transform: translate(-30%, 20%);
  }
}

@media screen and (max-width: 839px) and (min-width: 701px) {
  .aboutme-descript-text .aboutme-button-container button {
    padding: 1vh 0.6vw;
  }
}

@media screen and (max-width: 700px) {
  .aboutme-descript-container {
    flex-direction: column;
  }

  .aboutme-descript-pic-container {
    width: 100%;
  }

  .aboutme-pic-sqare::after {
    content: unset;
  }

  .aboutme-descript-pic-container img {
    border-radius: 50%;

    margin: 2vh 15vw;
  }

  .aboutme-descript-pic-container:hover img {
    outline: unset;
    transform: unset;
    box-shadow: rgb(0 0 0 / 50%) 0px 0.2rem 4rem;
  }

  .aboutme-descript-text {
    width: unset;
  }

  .aboutme-descript-text .aboutme-button-container {
    flex-direction: column;
  }
}

/* 技能section設定 */
.skill-container {
  background-color: gray;

  background-image: radial-gradient(
      rgba(130, 133, 139, 0.8),
      rgba(2, 7, 17, 0.8)
    ),
    url("./img/section2-bg.jpg");

  margin-top: -15vh;
  transform: skewY(-7deg);
}
/* 技能卡片區塊設定 */
.skill-card-container {
  width: 100%;

  display: flex;
  align-items: flex-start;
  padding: 20vh 20vw;
  transform: skewY(7deg);
}

.skill-card {
  width: 35%;
  background-color: rgba(255, 255, 255, 0.7);

  margin: 0px auto;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 1.5rem 4rem;
  transition: transform 0.3s ease 0s;
}

.skill-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.skill-card h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;

  margin-bottom: 5vh;
}

.skill-card ul {
  list-style-type: none;
}

.skill-card ul li {
  font-size: 1.1rem;

  margin-bottom: 2vh;
}

.title-container {
  text-align: center;

  margin-bottom: 6vh;
}

.title-container h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;

  background-image: linear-gradient(
    113.58893008880955deg,
    rgba(37, 46, 58, 1) 4.927083333333334%,
    rgba(71, 84, 99, 1) 97.84374999999999%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (max-width: 1370px) and (min-width: 1089px) {
  .skill-card-container {
    padding: 20vh 10vw;
  }
}

@media screen and (max-width: 1088px) {
  .skill-card-container {
    padding: 20vh 5vw;
  }
}

@media screen and (max-width: 719px) {
  .skill-card-container {
    padding: 10vh 5vw;
  }

  .skill-card h3 {
    letter-spacing: unset;
  }
}

@media screen and (max-width: 699px) {
  .skill-card-container {
    flex-direction: column;
  }

  .skill-card {
    width: 90%;

    margin: 1.5vh auto;
  }
}

/* 職涯經驗seciton設定 */
.experience-section {
  margin-top: 15vh;
}

.experience-descript-container {
  width: 85%;
  max-width: 1024px;
  color: rgb(221, 219, 219);

  margin: 5vh auto;
  padding: 2vh 3vw;

  border-left: 3px solid rgba(71, 84, 99, 1);
}

.experience-descript-container > div {
  margin-bottom: 5vh;
}
/* 經驗區塊小標題 */
.experience-descript-container div h3 {
  color: rgb(54, 51, 51);

  margin-bottom: 2vh;
}
/* 職涯經驗區塊內容文字 */
.experience-descript-container div .experience-text {
  margin-bottom: 2vh;
}
/* 職涯經驗區塊文字右下方技能列表 */
.experience-descript-container div .experience-skill {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.experience-descript-container div .experience-skill span {
  font-size: 0.5rem;
  font-weight: 600;
  color: rgb(54, 51, 51);

  margin: 0.4rem;
  padding: 0.1rem 1.6rem;
  border: 0.1rem solid rgb(54, 51, 51);
  border-radius: 5rem;
}
/* 職涯經驗區塊日期 */
.experience-descript-container div .experience-date {
  font-size: 0.9rem;

  display: inline-block;
  padding: 1vh 1vw;
  margin-bottom: 2vh;
  box-shadow: #363737 40rem 0px 0px 0px inset;
}
/* 聯絡section */
.contact-section {
  padding: 0vh 0vw 10vh;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.contact-container a {
  color: unset;
}

.contact-card {
  text-align: center;

  cursor: pointer;

  background-image: linear-gradient(
    113.58893008880955deg,
    rgba(149, 168, 181, 1) 4.927083333333334%,
    rgba(61, 72, 78, 1) 97.84374999999999%
  );
  clip-path: polygon(50% 0px, 100% 25%, 100% 75%, 50% 100%, 0px 75%, 0px 25%);

  margin: 0vh 20px;
  padding: 12vh;
  transition: all 0.5s ease;
}
/* 聯絡卡片hover效果 */
.contact-card:hover .contact-card-fontawesome:before {
  background-image: linear-gradient(
    113.58893008880955deg,
    rgba(37, 63, 79, 1) 4.927083333333334%,
    rgba(181, 103, 127, 1) 53.70833333333333%,
    rgba(204, 198, 186, 1) 97.84374999999999%
  );

  opacity: 1;
}

.contact-card .contact-card-fontawesome:before {
  content: "";
  position: absolute;
  inset: 0px;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
/* 聯絡我區塊font awesome設定 */
.contact-card div i {
  font-size: 3.5rem;

  position: absolute;
  transform: translate(-50%, -50%);
}
/* 連絡我區塊內文字 */
.contact-card-text {
  font-size: 1.5rem;

  opacity: 0;

  position: absolute;
  transition: 0.5s ease;
  transform: translate(-50%, -50%) scale(0.5);
}
/* 連絡我區塊卡片hover後文字顯現設定 */
.contact-card:hover .contact-card-text {
  color: white;
  opacity: 1;

  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 559px) {
  .contact-card {
    margin: unset;
  }
}
